html {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.my-image {
    width: 100%;
    max-width: 360px;
    float: right;
}

.svelfie-image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jb-mm-image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ccg-tmp-image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gc-merge-image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.senior-thesis-image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mentorship-image {
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}